# Random n3wton files
Test Server/
updateTestServer.bat

# Build files
target/
jars/
dependency-reduced-pom.xml
*.jar

# Eclipse files
.project
.classpath

# Idea files
.idea/
*.iml
*-Release.zip
SubmergedCore/dependency-reduced-pom.xml
